# Portable Applications ------
python-*-embed-*
PortableGit*

# Training Output Dirs -------
/data
/dump*
/exp
/outputs
/tensorboard
/release

# Input Dataset Dirs ---------
DB/*
DATABASE/*
singing_database/*

# Ignored File Extensions ----
*.ini
*.lab
*.log
*.mid
*.ust
*.wav
*.xml
*.musicxml
*.zip
*.npy
*.pth
*.code-workspace

# Other Dirs and Files -----------------
__pycache__
packed_models
