ETK_python
/tensorboard*
/source/*
!/source/dic
/source/dic/*
!/source/dic/.gitkeep
!/source/hed
/source/hed/*
!/source/hed/.gitkeep
!/source/singing_database
/source/singing_database/*
!/source/singing_database/.gitkeep
/target*
/train/conf/prepare_features.old
/train/backup
/outputs
/model_exp
/venv-start.ps1
/release
/release_Storage
/z_*

!/source/dic/hangul_ext.table
!/source/hed/korean_question_v2.1.hed

__pycache__
nnsvs

*.old
*.old.*

*.ini
*.lab
*.log
*.mid
*.ust
*.wav
*.xml
*.musicxml
*.zip
