# Must
cython
tqdm
utaupy
numpy>=1.26.0,<2
natsort
omegaconf
light-the-torch
colored-traceback
colorlog
mlflow
pydub
schedulefree
hydra-optuna-sweeper
hydra-core<1.4

# Specific branch --------------------
git+https://github.com/oatsu-gh/pysptk@enunu-python312
git+https://github.com/oatsu-gh/nnmnkwii@enunu-python312
git+https://github.com/oatsu-gh/nnsvs@enunu-python312
git+https://github.com/oatsu-gh/ParallelWaveGAN@enunu-python312
git+https://github.com/oatsu-gh/HN-UnifiedSourceFilterGAN@enunu-python312

# Not must ---------------------------
tensorboard<3
tensorflow

# You need to install torch by yourself, depending on your device.
# torch<3
# torchaudio
