__pycache__
nnsvs-master
HN-UnifiedSourceFilterGAN-nnsvs
ParallelWaveGAN-nnsvs
SiFiGAN-nnsvs

python-*
PortableGit*

DB
DATABASE
singing_database


*.ini
*.lab
*.log
*.mid
*.ust
*.wav
*.xml
*.musicxml
*.zip
