# Portable Applications ------
python-*-embed-*
PortableGit*

# Config files ---------------
# conf/*
# !config.yaml
# !myconfig.yaml
# !test.yaml

# Training Output Dirs -------
# data
dump*
exp
outputs
tensorboard
release

# Input Dataset Dirs ---------
DB/*
DATABASE/*
singing_database/*

# Ignored File Extensions ----
*.ini
*.lab
*.log
*.mid
*.ust
*.wav
*.xml
*.musicxml
*.zip

# Other Dirs and Files -----------------
__pycache__
